footer {
    // top: footer-menu
    #footer-menu {
        background-color: $footerPr;
        color: $footerPrCol;
        padding: $spacing * 4 0 $spacing;

        .footer-menu {
            width: 100%;
            @include flex(row, center, flex-start);
            flex-wrap: wrap;

            .footer-submenu {
                // title of submenu
                width: 100%;
                .submenu-title {
                    font-weight: 700;
                    font-size: $fontSize * 1.4;
                    letter-spacing: 1px;
                    position: relative;
                    padding: $spacing / 2;
                    margin-bottom: $spacing / 2;

                    .underline {
                        width: 32px; height: 3px;
                        background-color: $btnPr;
                        position: absolute;
                    }
                }

                // ul-submenu
                .submenu {
                    li {
                        display: block;
                        cursor: pointer;
                        padding: $spacing / 2;
                        margin-bottom: $spacing / 2;
                    }
                }
            } // end: footer-submenu
        } // end: footer-menu
    } // end: #footer-menu

    // btm: footer-copy
    #footer-copy {
        background-color: darken($footerPr, 6.67);
        color: lighten($footerPrCol, 13.33);
        font-size: $fontSize * 0.9;
        letter-spacing: 1px;
        padding: $spacing * 2 0 $spacing;

        // info container
        .copy-info {
            text-align: center;
            p {
                margin-bottom: $spacing / 2;
                line-height: $spacing * 3 / 2;
                a {
                    border-bottom: 1px solid $linkPr;
                }
            }
        }
    }
}

// MEDIA QUERY
// - xs -
@media screen and (min-width: $sm-min) {
    footer {
        // top: footer-menu
        #footer-menu {
            .footer-menu {
                .footer-submenu {
                    // title of submenu
                    width: 25%;
                } // end: footer-submenu
            } // end: footer-menu
        } // end: #footer-menu
    }
}
// - sm -
@media screen and (min-width: $md-min) {

}
// - md -
@media screen and (min-width: $lg-min) {

}
// - lg -
@media screen and (min-width: $xl-min) {

}
// - xl -
