footer {

    // top: footer-menu
    #footer-menu {
        background-color: $footerPr;
        color: $footerPrCol;

        .footer-menu {
            width: 100%;
            @include flex(row, center, flex-start);

            .footer-submenu {
                // title of submenu
                width: 25%;
                .submenu-title {
                }

                // ul-submenu
                .submenu {
                    li {
                        display: block;
                        cursor: pointer;
                    }
                }
            } // end: footer-submenu
        } // end: footer-menu
    } // end: #footer-menu

    // btm: footer-copy
    #footer-copy {
        background-color: darken($footerPr, 6.67);
        color: lighten($footerPrCol, 13.33);
        font-size: $fontSize * 0.9;
        letter-spacing: 1px;
        padding: $spacing * 2 0 $spacing;

        // info container
        .copy-info {
            text-align: center;
            p {
                margin-bottom: $spacing / 2;
                line-height: $spacing * 3 / 2;
                a {
                    border-bottom: 1px solid $linkPr;
                }
            }
        }
    }
}
