header {
    font-size: $fontSize;
    color: rgba(0,0,0,.7);

    // top: logo and user access
    #header-logo {
        .container {
            .row {
                justify-content: space-between;
                flex-wrap: nowrap;

                // sx: brand-logo
                .logo {
                    height: $headerTopH;
                    max-width: 250px;
                    @include flex(row, center, center);

                    img {
                        width: 100%;
                    }
                } // end .logo

                // dx: user-access
                .user-access {
                    height: $headerTopH;
                    flex-shrink: 0;
                    @include flex(row, center, center);

                    .trigger-menu {
                        padding: $spacing / 2 $spacing;
                        border: 1px solid black;
                        border-radius: $spacing / 2;
                        min-height: 40px;
                        i {
                            font-size: 24px;
                        }
                    }
                    .user-log-in {
                        display: none;
                    }

                    .btn {
                        margin-left: $spacing;
                        min-height: 40px;
                        @include flex(row, center, center);
                    }
                } // end .user-access
            } // end row
        } // end container
    } // end #header-logo

    // hidden-btm: nav-menu
    #nav-menu {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        .container {
            .row {
                justify-content: space-between;

                // top-sx: menu
                .main-menu {
                    width: 100%;

                    ul {
                        @include clearfix;
                        display: none;
                        width: 100%;
                        font-size: $fontSize * 0.9;
                        text-transform: uppercase;
                        padding: $spacing / 4 0;

                        li {
                            display: block;
                            float: left;
                            width: 100%;
                            border: 1px solid transparent;

                            &.btn-special {
                                border-color: $btnSpCol;
                            }

                            &:hover {
                                background-color: #f9f9f9;
                            }
                            a {
                                display: inline-block;
                                padding: $spacing $spacing / 6 * 4;
                            }
                        }
                    }
                } // end sx menu
            } // row
        } // end container
    } // end nav-menu
} // end header

// MEDIA QUERY
// - xs -
@media screen and (min-width: $sm-min) {
    header {

        // top: logo and user access
        #header-logo {
            .container {
                .row {

                    // sx: brand-logo
                    .logo {


                        img {

                        }
                    } // end .logo

                    // dx: user-access
                    .user-access {

                    } // end .user-access
                } // end row
            } // end container
        } // end #header-logo

        // hidden-btm: nav-menu
        #nav-menu {

            .container {
                .row {

                    // top-sx: menu
                    .main-menu {

                        ul {
                            li {
                                width: 50%;
                                a {

                                }
                            }
                        }
                    } // end sx menu

                    // btm-dx: search
                    .search {

                    } // end dx search
                } // row
            } // end container
        } // end nav-menu
    } // end header
}
// - sm -
@media screen and (min-width: $md-min) {
    header {

        // top: logo and user access
        #header-logo {
            .container {
                .row {

                    // sx: brand-logo
                    .logo {


                        img {

                        }
                    } // end .logo

                    // dx: user-access
                    .user-access {

                    } // end .user-access
                } // end row
            } // end container
        } // end #header-logo

        // hidden-btm: nav-menu
        #nav-menu {

            .container {
                .row {

                    // top-sx: menu
                    .main-menu {

                        ul {
                            li {
                                width: 25%;
                                a {

                                }
                            }
                        }
                    } // end sx menu

                    // btm-dx: search
                    .search {

                    } // end dx search
                } // row
            } // end container
        } // end nav-menu
    } // end header
}
// - md -
@media screen and (min-width: $lg-min) {
    header {

        // top: logo and user access
        #header-logo {
            .container {
                .row {

                    // sx: brand-logo
                    .logo {


                        img {

                        }
                    } // end .logo

                    // dx: user-access
                    .user-access {
                        .trigger-menu {
                            display: none;
                        }

                        .user-log-in {
                            display: block;
                        }
                    } // end .user-access
                } // end row
            } // end container
        } // end #header-logo

        // hidden-btm: nav-menu
        #nav-menu {

            .container {
                .row {

                    // top-sx: menu
                    .main-menu {

                        ul {
                            display: table;
                            li {
                                width: unset;
                                &.search-btn {
                                    float: right;
                                }
                                a {

                                }
                            }
                        }
                    } // end sx menu

                    // btm-dx: search
                    .search {

                    } // end dx search
                } // row
            } // end container
        } // end nav-menu
    } // end header
}
// - lg -
@media screen and (min-width: $xl-min) {
    header {

        // top: logo and user access
        #header-logo {
            .container {
                .row {

                    // sx: brand-logo
                    .logo {


                        img {

                        }
                    } // end .logo

                    // dx: user-access
                    .user-access {

                    } // end .user-access
                } // end row
            } // end container
        } // end #header-logo

        // hidden-btm: nav-menu
        #nav-menu {

            .container {
                .row {

                    // top-sx: menu
                    .main-menu {

                        ul {
                            li {

                                a {

                                }
                            }
                        }
                    } // end sx menu

                    // btm-dx: search
                    .search {

                    } // end dx search
                } // row
            } // end container
        } // end nav-menu
    } // end header
}
// - xl -
