main {
    padding-top: $headerTopH;
    min-height: 100vh;

    // home-page
    #main-carousel {
        height: calc(100vh - #{$headerTopH});
        position: relative;
        background: $btnPr url("https://unaparolaalgiorno.it/_nuxt/img/memphis-mini.33545ec.png") repeat scroll center;
        background-blend-mode: multiply;
    } // end main-carousel

    #brand-description {
        padding: $spacing * 8 0;
        font-size: $fontSize * 1.5;
        p:first-child {
            margin-bottom: $spacing * 2;
        }
    } // end brand-description

    #parola-del-giorno {
        background-color: lighten($btnPr, 5%);
        padding: $spacing * 2 0;
        color: white;

        .btn-container {
            display: flex;
            justify-content: center;
            .btn {
                margin-top: $spacing;
                background-color: lighten($btnPr, 10%);
                transition: all 0.5s ease 0s;
            }
            .btn:hover {
                background-color: lighten($btnPr, 20%);
            }
        }
    } // end parola-del-giorno

    #parole-vecchie {
        .altre-parole {
            color: #444444;
            margin-top: $spacing * 2;
            margin-bottom: $spacing * 4;

            a {
                padding: 1rem;
                background-color: #f5f5f5;
                display: block;
                line-height: 1.4rem;
                position: relative;
                border: 1px solid #eee;
                font-weight: 700;
                margin: 0 $spacing / 2;
            }
            h3 {
                margin: 0;
            }
        }
    } // end parole-vecchie

    #home-news {
        padding: $spacing * 4 0;
        .title {
            color: #424242;
            img {
                max-height: 28px;
            }
        }
        .news-card {
            color: #444444;
            margin: $spacing * 2 0;
            border: 1px solid black;
        }
        .see-all-news-link {
            text-align: center;
            color: #17a2b8;
            font-weight: bold;
            font-size: $fontSize * 1.5;
        }
    } // end home-news
    // end home-page
} // end main

// MEDIA QUERY
// - xs -
@media screen and (min-width: $sm-min) {

}
// - sm -
@media screen and (min-width: $md-min) {

}
// - md -
@media screen and (min-width: $lg-min) {
    main {
        padding: 0;
        #main-carousel {
            height: calc(100vh - #{$headerDesktopTopH});
        } // end main-carousel
    }
}
// - lg -
@media screen and (min-width: $xl-min) {

}
// - xl -
