// font
$fontFamily: sans-serif;
$fontSize: 14px;

// spacing
$spacing: 12px;
$gutter: 5px; // see _12col.scss

// color
$brandPr: #fff;
$textPr: #989898;
$titlePr: #001942;

// btn
$btnPr: #D92929;

// HTML
$headerTopH: 62px;

// media-query-list: "media-query-name" + m-q-min-width + container-max-width
$xs-min: 0px; $sm-min: 576px; $md-min: 768px; $lg-min: 992px; $xl-min: 1200px;
$mediaQuery: ("xs" $xs-min 560px, "sm" $sm-min 540px, "md" $md-min 720px, "lg" $lg-min 960px, "xl" $xl-min 1140px);
